html {
    background-color: #333;
}

html, body, #mj {
    width: 100%;
}

::selection {
  background: #6e6e6e; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #6e6e6e; /* Gecko Browsers */
}

#mj {
    background-color: #333;
}

/* * * * * Header * * * * */

#top-nav, .nav-item .dropdown-menu.show {
    background-color: rgba(0,0,0,0.5);
    
}

.top-brand {
    
}

#top-nav .navbar-toggler {
    border-color: rgba(255,255,255,.4);
}

top-collapse-content {
    
}

top-collapse-content .nav-item {
    
}

.nav-item .dropdown-menu.show .dropdown-item {
    color: rgba(255,255,255,.5);
}

.nav-item .dropdown-menu.show .dropdown-item:hover {
    background-color: transparent;
    color: rgb(255,255,255);
}

/* * * * * Carousel * * * * */

#mainCarousel {
    height: 100vh;
}

#mainCarousel .carousel-item {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

#mainCarousel img {
    height: 150vh;
    width: auto;
}

/** Code by Otis Wright from CodePen: https://codepen.io/crashy/pen/JoKMgG */
#mainCarousel .carousel-item {
    position: fixed;
    width: 100%;
    height: 100%;  
}

#mainCarousel .carousel-item:nth-child(1) {
    background: url(../images/DSC_0100_1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainCarousel .carousel-item:nth-child(2) {
    background: url(../images/DSC_0526_1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainCarousel .carousel-item:nth-child(3) {
    background: url(../images/genji_inverted.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    top: 45%;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.btn-outline-white {
    border-color: #fff;
    color: #fff;
}

.btn-outline-white:hover {
    border-color: #fff;
    background-color: rgba(255,255,255,0.3);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: fixed;
}


/* */

.about-banner {
    width: 100%;
    height: 50vh;  
    background: url(../images/DSC_0070.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.digital-banner {
    width: 100%;
    height: 50vh;  
    background: url(../images/genji_inverted.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.photography-banner {
    width: 100%;
    height: 50vh;  
    background: url(../images/DSC_0526_1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/** **/

.title-wrapper {
    padding: 15px 10px;
    text-align:center;
    color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
    font-weight: bold;
}

#mj h5 {
    color: #fff;
}

.text-wrapper {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.portfolio {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    display: -webkit-box;
    /*-webkit-flex-flow: column wrap;*/
    display: flex;
    /*flex-flow: column wrap;*/
    padding: 10px;
}

@media screen and (min-width: 360px) {
    .portfolio-layout {
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        -webkit-column-fill: auto;
        -moz-column-count: 2;
        -moz-column-gap: 10px;
        -moz-column-fill: auto;
        column-count: 2;
        column-gap: 15px;
        column-fill: auto;
    }
    .col-left {
        width: 50%;
    }
    .col-right {
        width: 50%;
    }
}

.thumbnail {
    /*display: inline-block;
    overflow: hidden;
    margin: 15px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: .3rem;
    
    vertical-align: middle;*/
    padding: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.thumbnail:hover {
    opacity: 0.5;
}

.thumbnail img {
    width: 100%;
}

#mj .modal button.close {
    position: absolute;
    right: 20px;
}


/* * * * * Footer * * * * */

.footer {
    margin-bottom: 20px;
    background-color: #333;
    text-align: center;
    color: #fff;
}

.footer .social-icon {
    color: #333;
}

.footer .social-icon:hover {
    text-decoration: none;
    color: #6e6e6e;
}